[Unit]
Description=Python Telegram Bot Service
After=network.target

[Service]
User=your_username
WorkingDirectory=/home/your_username/telegram_bot
ExecStart=/home/ageon@ageon3/telegram_bot/venv/bin/python3 /home/ageon@ageon3/telegram_bot/bot.py
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pytelegrambot

[Install]
WantedBy=multi-user.target
